body {
	background-color: black;
	max-width: 100vw;
	columns: 450px 2;
}

.images {
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

img {
    width: 450px;
    filter: blur(15px);
    padding-bottom: 20px;
    padding-right: 20px;
}

img:hover {
filter: initial;
}

.text {
width: 450px;
padding: 50px 120px;
}

h1 {
	color: white;
	text-align: center;
	font-family: 'Playfair Display', serif;
}

p {
	color: white;
	text-align: center;
	font-size: 23px;
	font-family: 'Source Sans Pro', sans-serif;
}