body {
/*background-image: url("imgs/cafe.jpg"); */
background-size: 100%;
background-position: center;
opacity: 90%;
}

h1 {
/*text-align: center;
font-family: verdana;
font-size: 24px;
text-align: center;*/
font-family: griffith-gothic, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
text-align: center;
}

p {
font-family: lust-script-fine, sans-serif;
font-weight: 100;
font-style: normal;
font-size: 50px;
color: black;
text-align: center;
}

.quote {
/*background-color: white;*/
padding-left: 70px;
padding-right: 70px;
padding-top: 70px;
padding-bottom: 70px;
}

h2 {
font-family: edita, serif;
font-style: italic;
font-weight: 400;
font-size: 50px;
text-align: center;
color: black;
}

img {
	width: 400px;
}

.images {

display: flex;
  flex-direction: row;
  justify-content:  space-between;
  flex-wrap:  wrap;
  padding:40px;
  width:  90vw;
  background-color: #042135;
  min-height: 300px;
  color:  #042135;
  font-size:  36px;

}

.body {
	font-family: edita, serif;
	/*font-style: italic;*/
	font-weight: 400;
	font-size: 23px;
	padding: 100px;
}