body{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgb(7, 8, 51);
}

h1{
    color: aliceblue;
}

.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.boroughs{
    display: flex;
    flex-direction: row;
}

button{
    font-size: 23px;
    width:min-content;
    height: min-content;
    margin-left: 10px;
    background:-webkit-radial-gradient(#f9c1f0, #851d5f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    border:none;
    
    
}

button:hover{
    cursor: pointer;
   font-size: 27px;
    
 }

#manhattanBtn{
    background:-webkit-radial-gradient(#ffdd99, #7d2564);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

#brooklynBtn{
    background:-webkit-radial-gradient(#e8a3cd, #721f81);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

#bronxBtn{
    background:-webkit-radial-gradient(#f9c1f0, #132da3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

#queensBtn{
    background:-webkit-radial-gradient(#c1e5f9, #1625cc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}



 #manhattan-list{
    color: rgb(253,187,45);
    display: flex;
    flex-direction: row;
    align-items: end;
 }

 #brooklyn-list{
    color: rgb(252,72,214);
    display: flex;
    flex-direction: row;
    align-items: end;
 }

 #bronx-list{
    color: rgb(179,91,244);
    display: flex;
    flex-direction: row;
    align-items: end;
 }

 #queens-list {
    color: rgb(85,211,252);
    display: flex;
    flex-direction: row;
    align-items: end;
 }
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

 .artwork{
    display: flex;
    flex-direction: row;
 }

 .line {
    
    width: 3vw;
 }
 .manhattan .line {
    background: rgb(253,187,45);
background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(195,34,122,1) 100%);
 }

 .brooklyn .line {
    background: rgb(252,72,214);
    background: linear-gradient(0deg, rgba(252,72,214,1) 0%, rgba(116,31,238,1) 100%);
 }
 .bronx .line {
    background: rgb(179,91,244);
background: linear-gradient(0deg, rgba(179,91,244,1) 4%, rgba(44,57,255,1) 100%);
}

 .queens .line {
    background: rgb(85,211,252);
background: linear-gradient(0deg, rgba(85,211,252,1) 5%, rgba(5,59,187,1) 100%);
 }

 .metadata {
    display: none;
    position:absolute;
    z-index: 1;
    top: 20%;
    left: 40%;
    width: 18vw;
    font-size: 15px;
    line-height: 100%;
   
 }

 .line:hover ~ .metadata{
    display:block;
   
 }

 .line:hover{
    border-style: solid;
    border-width: 2px;
    border-color: rgba(240, 248, 255, 0.469);
    cursor: pointer;

 }

 canvas {
    position:fixed;
    background: rgb(7, 8, 51);;
    z-index: -1;
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px){
    .metadata {font-size: 12px;  height: 10vh; top: 33%; line-height: 100%;
}
.head{
    flex-direction: column;
}

button {font-size: 15px;
}

h1{
    font-size: 30px;
}

}

.metadata-image {
    display: none;
}

.metadata-image img {
    width: 100px;
}

.artwork.active .metadata-image {
    display: block;
}

.artwork.active .metadata-text {
    display: none;
}