body{
	background-color: lightpink;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
}

.menu{
	display: flex;
	flex-direction: column;
}

a{
	font-size: 40px;
	color: darkolivegreen;
}

a:hover{
	color: deeppink;
}