
body { display: flex;
	max-width: 100%;
	align-content: centers;
	background-color: navajowhite;
	flex-direction: column;

}

img {
	border-radius: 30px;
}

.video{

}

.container{
	display: flex;
	flex-direction: column;
}

.title{
	max-width: 60vw;
}



.img1,.img2,.img3,.img4,.img5{
max-width: 20vw;
}
