
body {
  font-size: 16px;
  text-align: center;
}

h1 {
font-family: griffith-gothic, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
text-align: center;
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  body {
    font-size: 40px;
  }
  .caption {
  	font-size: 18px;
  }
}

/* Desktop breakpoint */
@media (min-width: 992px) {
  body {
    font-size: 50px;
  }
  .caption{
  	font-size: 23px;
  }
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 60px;
  }
  .caption {
  	font-size: 23px;
  }
}

img {
	width: 30vw;
}

.container {
	display:flex;
	padding:10px;
	flex-direction: column;
	align-items: center;

	

}

.img {
	margin: 10px 10px;
}

.img2 {
	align-self: flex-start;
}

.img4 {
	align-self: flex-start;
}

h1 {
	/*text-align: center;
	font-family: sans-serif;*/
}

.caption {
font-family: griffith-gothic, sans-serif;
font-style: normal;
font-weight: 350;
}
